<template>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    List Customer
                </div>
                <div class="col-6 float-right">
                    <button class="btn btn-sm btn-success float-right">Create</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <DataTable :theads="theads" :params="params">
                <template #tbody="props">
                    <tr v-for="item in props.items">
                        <th scope="row">{{item.id}}</th>
                        <td style="color: blue"
                            @click="$router.push('/customer/show/' + item.id)">
                            {{item.name}}
                        </td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.address}}</td>
                    </tr>
                </template>
            </DataTable>
        </div>
    </div>
</template>

<script>
    import DataTable from './../../commons/DataTable';

    export default {
        data() {
            return {
                theads: [
                    {title: '#ID', key: 'id', sort: true, width: '75px'},
                    {title: 'Name', key: 'name', sort: true},
                    {title: 'Email', key: 'email', sort: true},
                    {title: 'Phone', key: 'phone', sort: false},
                    {title: 'Address', key: 'address', sort: true},
                    {tilte: 'Action', key: 'action', sort: false}
                ],
                params: {
                    page: 1,
                    sort_column: 'id',
                    direction: 'desc',
                    per_page: 20
                }
            }
        },
        components: {
            DataTable
        }
    }
</script>
